<div class="navbar-fixed">
  <nav class="red">
    <div class="nav-wrapper">
      <a data-activates="mobile-nav-bar" class="button-collapse"><i class="material-icons">menu</i></a>
      <a [routerLink]=" ['./'] " class="brand-logo">CryptoChat</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light" [routerLink]=" ['./home'] ">Home</a></li>
        <li><a class="waves-effect waves-light" [routerLink]=" ['./rooms'] ">Rooms</a></li>
        <li><a class="waves-effect waves-light" [routerLink]=" ['./about'] ">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav-bar">
        <li><a class="waves-effect waves-light" [routerLink]=" ['./home'] ">Home</a></li>
        <li><a class="waves-effect waves-light" [routerLink]=" ['./rooms'] ">Rooms</a></li>
        <li><a class="waves-effect waves-light" [routerLink]=" ['./about'] ">About</a></li>
      </ul>
    </div>
  </nav>
</div>

<main>
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn hide-on-med-and-up" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red waves-effect waves-light">
    <i class="large material-icons">more_vert</i>
  </a>
  <ul>
    <li><a class="btn-floating red" [routerLink]=" ['./home'] "><i class="material-icons">home</i></a></li>
    <li><a class="btn-floating yellow darken-1" [routerLink]=" ['./rooms'] "><i class="material-icons">room</i></a></li>
    <li><a class="btn-floating green" [routerLink]=" ['./about'] "><i class="material-icons">info</i></a></li>
  </ul>
</div>
